
body {
    font-family: 'Arial', sans-serif;
    color: #181b1ad6; 
}

h1, h2, h3 {
    color: #4600966d; 
}

p {
    line-height: 1.8;
}

a {
    color: #007BFF; 
}
.content{
    color: #333;
}

.navigation {
    background-color: #009688;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display:points;
    margin-right: 15px;
}

a {
    color: #fff; 
}

.content {
    padding: 20px;
}

#search {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

label {
    margin-right: 10px;
}

input,
select {
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #2800968e;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007BFF;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

